@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #22333b;
    display: flex;
    align-items: center;
    font-size: 3rem;
    flex-direction: column;
    color: white;
}

.title {
    margin: 20px;
}

.subtext {
    color: #CCC;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.board {
    display: inline-grid;
    padding: 6px;
    border-radius: 6px;
    grid-template-columns: repeat(var(--size), 60px);
    grid-template-rows: repeat(var(--size), 60px);
    gap: 4px;
    background-color: #777;
}

.board>* {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 1.5px solid #f1faee;
    border-radius: 4px;
    user-select: none;
}

.board>[data-status="hidden"] {
    background-color: #f1faee;
    cursor: pointer;
}

.board>[data-status="mine"] {
    background-color: #d90429;
}

.board>[data-status="number"] {
    background-color: #2d6a4f;
}

.board>[data-status="marked"] {
    background-color: #ffca3a;
}

.socials {
    text-align: center;
    margin: 0;
}

.socials>a {
    margin-left: 4px;
    margin-right: 4px;
}

.socials>a>img {
    height: 24px;
}

.footer-text {
    font-size: 24px;
}

#message {
    font-size: 2rem;
    margin-top: 10px;
}